<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container pull-left">
    <table  class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>key</th>
            <th>value</th>
        </tr>
        </thead>

        <tr><td>name</td><td><input th:value="${task.getName()}" type="text"></td></tr>
        <tr><td>start date</td><td><input th:value="${task.getStartDate()}" type="text"></td></tr>
        <tr><td>deadline</td><td><input th:value="${task.getDeadline()}" type="text"></td></tr>
        <tr><td>status</td><td><input th:value="${task.getStatus()}" type="text"></td></tr>
        <tr><td>date of completion</td><td><input th:value="${task.getDateOfCompletion()}" type="text"></td></tr>
        <tr><td>priority</td><td><input th:value="${task.getPriority()}" type="text" value=""></td></tr>
    </table>
</div>


<div class="container pull-left">
<button type="submit" class="btn btn-primary">return</button>
<button type="submit" class="btn-success">update</button>
</div>
</body>
</html>